@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    margin: 5px 0;
}

.nav a:hover {
    background-color:#ff9900;
}

.h1{
    background-color: white;
    color: black;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
}

#bored-activity {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3%;
    color: black;
    font-family: 'Young Serif', serif;
    width: 50%;

}


#getActivityButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#getActivityButton:hover {
    background-color: #1e6091;
}


#ageInfo {
    background-color: yellow;
    color:green;
    padding: 10px;
    font-size: 18px;
}

#activityResult.error {
    color: #e74c3c; 
    padding-top: 10px;
}

.m-img img {
    max-width: 60%;
    height: 30%;
}

.memes {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3%;
    color: black;
    font-family: 'Young Serif', serif;
    width: 30%;
    align-items:flex-start;

}
.memes button{
    cursor: pointer;

}



#getmeme {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#getmeme:hover {
    background-color: #1e6091;
}

.anime-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.anime {
    text-align: center;
    margin: 20px;
   
}

.anime img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.anime a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: blue;
    color:#ff9900;
    font-size: 30px;
}

.anime a:hover{
    background-color:#ff9900;
    color:blue ;
}

.anime-container h2{
    background-color: white;
    color: black;
    width: 300px;
    height: 50px;
    border-radius:250px;
}

/* For screens with a maximum width of 767px (typical for smartphones) */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .bored-activity,
    .memes {
        width: 90%;
    }

    .memes button {
        width: 100%;
    }

    .anime-container {
        flex-direction: column;
        align-items: center;
    }

    .anime {
        margin: 10px;
    }

    .anime img {
        width: 150px;
        height: 150px;
    }

    .anime a {
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    .anime-container {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}
